body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f4f9ff;
}

/* NAVBAR */
.navbar{
    background:#87CEEB;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}

.logo{
    font-size:22px;
    font-weight:bold;
    color:white;
}

nav a{
    margin-left:15px;
    text-decoration:none;
    color:white;
    font-weight:bold;
}

nav a:hover{
    opacity:0.8;
}

.active{
    border-bottom:2px solid white;
}

/* HERO */
.hero{
    text-align:center;
    padding:60px 20px;
}

.hero h1{
    font-size:32px;
}

.hero p{
    max-width:700px;
    margin:auto;
    margin-top:15px;
    line-height:1.6;
}

/* BOTON */
.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 22px;
    background:#87CEEB;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
}

.btn:hover{
    background:#5fbde4;
}

/* FEATURES */
.features{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    padding:40px;
}

.feature{
    background:white;
    padding:20px;
    width:250px;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

/* CONTENT */
.content{
    max-width:900px;
    margin:auto;
    padding:40px;
}

.card{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
